.UserManual {
    overflow: auto;
    background: #e5e5e5;
}

.UserManual .react-pdf__Page canvas.react-pdf__Page__canvas {
    margin: auto;
}

.react-pdf__Document {
    overflow: auto;
    padding: 20px;
    display: flex;
    height: 100vh;
    flex-direction: column;
}