body,
html {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Comforta";
    src: local("Comforta"),
    url("./Comfortaa-Regular.ttf") format("truetype");
}

* {
    font-family: 'Comforta', serif;
}

html {
    overflow: hidden;
}

button {
    background: transparent;
    border: unset;
    cursor: pointer;
}

h1 a {
    text-decoration: none;
    color: black;
}

.separator {
    margin: 0 20px;
}